.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  background-color: #111;
}

.button-transition:hover {
  -webkit-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
  opacity: 0.6;
  cursor: pointer;
}

.border {
  border: 2px solid orange;
}

.division-line {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  opacity: 0.7;
  border: 1px solid #545454;
  box-sizing: border-box;  
}

/*header start*/

.header {
  display: block;
  margin: 45px auto 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  max-width: 880px;
  height: 74px;
  min-height: 56px;
  box-sizing: border-box;
}

.header__logo {
  margin: 0 auto 41px 0;
  padding: 0;
  min-width: 142px;
  min-height: 33px;
  background: url(./images/Mesto_logo.svg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: left center;
}

@media (max-width: 890px) {
  .header__logo {
    margin: 28px auto 32px 27px;
    padding: 0;
    width: 11.09vw;
}
}

@media (max-width: 720px) {
  
  .header__logo {
    margin: 28px auto 32px 27px;
    padding: 0;
    width: 8.05vw;
    min-width: 103px;
    min-height: 24px;
  }
}

@media (max-width: 320px) {

  .header {
    margin: 28px auto 0;
    height: 56px;
  }
}

/*header end*/

/*profile start*/
.profile {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  padding: 0;
  min-width: 282px;
  max-width: 880px;
  box-sizing: border-box;
}

.profile__about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 282px;
  max-width: 486px;
  width: 100%;
  min-height: 73px;
  box-sizing: border-box;
}

.profile__avatar {
  margin: 0;
  width: 120px;
  border-radius: 50%;
  object-fit: contain;
  object-position: left center;
}

.profile__info {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  max-width: 336px;
  width: 100%;
  min-height: 73px;
  box-sizing: border-box;
}

.profile__info-title {
  margin: 0;
  padding: 0;
  width: 87.5%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  word-break: break-word;
}

.profile__edit-button {
  margin: 15px 0 0 18px;
  padding: 7px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #111;
  background-image: url(./images/edit_btn.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
}

.profile__info-subtitle {
  margin: 9px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFF;
}

.profile__add-button {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  margin: 35px 0 35px auto;
  padding: 0;
  width: 150px;
  height: 50px;
  border: 2px solid #FFF;
  border-radius: 2px;
  background-color: #111;
  background-image: url(./images/add_btn.png);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 890px) {
  .profile {
    margin: 42px 19px 0;
  }
}

@media (max-width: 720px) {
  .profile {
    display: block;
  }

  .profile__about-wrapper {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 200px;
  }

  .profile__info {
    justify-content: flex-end;
    margin: 21px auto 0;
    width: 88.1%;
    min-height: 54px;
  }

  .profile__info-title {
    margin: 0 0 0 auto;
    font-size: 32px;
    line-height: 1.14;
    text-align: center;
  }

  .profile__edit-button {
    position: relative;
    top: 9px;
    left: -2px;
    margin: 0 auto 0 10px;
    padding: 7px;
    width: 18px;
    height: 18px;
  }

  .profile__info-subtitle {
    justify-content: center;
    position: relative;
    top: 4px;
    left: 0;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }

  .profile__add-button {
    margin: 36px auto 0;
    padding: 0;
    width: 282px;
  }
  }

  @media (max-width: 480px) {
    .profile__info-title {
      margin: 0 0 0 auto;
      width: 77%;
      font-size: 27px;
      line-height: 1.2;
    }

    .profile__edit-button {
      position: relative;
      top: 9px;
      left: -2px;
      margin: 0 auto 0 10px;
    }

    .profile__info-subtitle {
      font-size: 14px;
      line-height: 1.21;
    }
  }

@media (max-width: 320px) {
  .profile__info-title {
    margin: 0;
    width: 77%;
    text-align: center;
  }

  .profile__edit-button {
    margin: 0 0 0 10px;
  }
}

/*profile end*/

/*pic-gallery start*/
.pic-gallery {
  margin: 51px auto 0; /*PerfPix top 304px, not 329*/
  padding: 0;
  min-width: 282px;
  max-width: 880px;
  box-sizing: border-box;
}

.pic-gallery__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(2, minmax(min-content, 1fr));
  row-gap: 20px;
  column-gap: 17px;
  justify-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.pic-gallery__card {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
}

.pic-gallery__image {
  width: 100%;
  object-fit: contain;
  object-position: left center;
}

.pic-gallery__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 25px 21px; /*the layout margin: 25px 15px 31px 21px;*/
  max-width: 246px;
  box-sizing: border-box;
}

.pic-gallery__title {
  margin: 0;
  padding: 0;
  max-width: 198px; /*Cherkessk*/
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-break: normal;
}

.pic-gallery__like-button {
  display: block;
  margin: 0 5px 0 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background: url(./images/like-button.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center center;
}

.pic-gallery__like-button:hover {
  -webkit-transition: opacity .4s linear;
  -o-transition: opacity .4s linear;
  transition: opacity .4s linear;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 890px) {
  .pic-gallery {
    margin: 51px 9vw 0;
  }

  .pic-gallery__cards {
    display: grid;
    justify-items: center; /*extremely important*/
    margin: 0 auto;
  }
}

/*@media (min-width: 720px) and (max-width: 889px) {

}*/

@media (max-width: 720px) {
  .pic-gallery {
    margin: 36px 9vw 0;
  }
}

@media (max-width: 480px) {
  .pic-gallery {
    margin: 36px auto 0;
  }
}
/*pic-gallery end*/

/*----------footer start---------*/
.footer {
  display: block;
  margin: 67px auto 60px;
  padding: 0;
  min-width: 282px;
  width: 100%;
  max-width: 880px;
  box-sizing: border-box;
}

.footer__copyright {
  margin: 0;
  padding: 0;
  width: 318px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media (max-width: 890px) {
  .footer__copyright {
    margin: 0 auto 0 11.5vw;
    width: 282px;
  }
}

@media (max-width: 710px) {
  .footer {
    margin: 48px auto 36px; /*50 works better*/
  }

  .footer__copyright {
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    color: #545454;
  }
}
/*----------footer end---------*/

/*-------------popup start---------*/
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  box-sizing: border-box;
  z-index: 50;
}

.popup__form {
  position: relative;
  top: 0; /*b/c popup is fixed, needed to fix this -66px, -85*/ /*h 720 0*/
  left: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 34px 36px 37px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  box-sizing: border-box;
}

.popup__input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 161px;
  border: none;
}

.popup__close-button {
  display: block;
  position: absolute;
  top: -40px;
  left: 438px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.popup__close-button:before,
.popup__close-button:after {
  content: '';
  position: absolute;
  /*left: 0;
  width: 100%;*/
  height: 3.6px;
  background-color: #fff;
  /*transition: all 0.4s ease 0s;*/
}

.popup__close-button:before {
  width: 121%;
  transform: rotate(45deg);
  top: 14px;
  left: -3px;
}

.popup__close-button:after {
  width: 122%;
  transform: rotate(-45deg);
  top: 14px;
  left: -5px;
}

.popup__close-button:hover {
  transform: scale(1.3);
}

.popup__close-button:before:hover,
.popup__close-button:after:hover {
  transform: scale(1.2);
}

/*.popup__close-button:after:hover {
  transform: scale(1.2);
}*/

.popup__header {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  color: #000;
}

.popup__info-title {
  margin: 47px 0 0; /*need 54 in the layout...*/ /*720 49*/
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
}

.popup__division-line {
  margin: 8px 0 0; /*need 13 in the layout...*/ /*720 9*/
  padding: 0;
  opacity: 0.2;
  border: 1px solid #000;
}

.popup__info-subtitle {
  margin: 30px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000;
  border: none;
}

.popup__submit {
  position: relative;
  top: 0;
  left: 0;
  margin: 48px 0 0 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px; 
  border: none;
}

.popup__submit-button {
  position: absolute;
  top: 14px;
  left: 37%;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFF;
  background-color: #000;
  border: none;
}

@media (max-width: 560px) {
  .popup__close-button {
    top: -37px;
    left: 92.6%;
    width: 20px;
    height: 20px;
  }

  .popup__close-button:before,
  .popup__close-button:after {
    height: 2.8px;
  }

  .popup__close-button:before {
    top: 10px;
    left: -1px;
  }
  
  .popup__close-button:after {
    top: 10px;
    left: -1px;
  }
}

@media (max-width: 480px) {
  .popup__form {
    padding: 25px 22px;
    min-width: 282px;
    min-height: 322px;
  }

  .popup__header {
    min-width: 238px;
    font-size: 18px;
    line-height: 1.22;
  }

  .popup__info-title {
    margin: 75px 0 0;
  }
  
  .popup__submit {
    margin: 45px 0 0;
    height: 46px;
  }

  .popup__submit-button {
    left: 38%;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .popup__submit-button {
    left: 35%;
  }
}
/*---------popup end----------*/