.popup__submit-button {
  margin: 48px auto 0;
  padding: 0;
  width: 100%;
  height: 50px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFF;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 430px) {
.popup__submit-button {
  margin: 41px auto 0;
  left: 38%;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  }
}

@media (max-width: 400px) {
  .popup__submit-button {
    left: 35%;
  }
}