.header__logo {
  margin: 0 auto 41px 0;
  padding: 0;
  min-width: 142px;
  min-height: 33px;
  background: url(../../../images/Mesto_logo.svg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left center;
     object-position: left center;
}

@media (max-width: 890px) {
  .header__logo {
    margin: 28px auto 31px 27px;
    width: 11.09vw;
  }
}

@media (max-width: 720px) {
  .header__logo {
    width: 8.05vw;
    min-width: 103px;
    min-height: 24px;
  }
}