.header {
  display: block;
  margin: 45px auto 0;
  padding: 0;
  min-width: 320px;
  width: 100%;
  max-width: 880px;
  height: 74px;
  min-height: 56px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 320px) {
  .header {
    margin: 28px auto 0;
    height: 56px;
  }
}