.pic-gallery__image {
  width: 100%;
  height: 282px;
  -o-object-fit: cover; /*content doesn't fit here*/
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
  border-radius: 10px 10px 0 0;
}