.profile__info-occupation {
  margin: 9px 0 0;
  padding: 0;
  max-width: 336px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFF;
  word-break: break-word;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 720px) {
  .profile__info-occupation {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    top: 4px;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .profile__info-subtitle {
    font-size: 14px;
    line-height: 1.21;
  }
}