.popup-picture__close-button {
  display: block;
  position: absolute;
  top: -40px;
  right: -37px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s ease;
  opacity: 1;
}

.popup-picture__close-button:before,
.popup-picture__close-button:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  height: 3.6px;
  background-color: #fff;
}

.popup-picture__close-button:before {
  width: 122%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popup-picture__close-button:after {
  width: 122%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 560px) {
  .popup-picture__close-button {
    top: -38px;
    right: 3px;
    width: 20px;
    height: 20px;
  }

  .popup-picture__close-button:before {
    top: 10px;
    height: 2.8px;
  }
  
  .popup-picture__close-button:after {
    top: 10px;
    height: 2.8px;
  }
}