.pic-gallery__like-button {
  display: block;
  margin: 0 5px 0 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background: url(../../../images/like-button.svg);
  background-repeat: no-repeat;
  object-fit: contain;
  object-position: center center;
}

.pic-gallery__like-button:hover {
  -webkit-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
  transition: opacity .3s linear;
  opacity: 0.5;
  cursor: pointer;
}