.footer {
  display: block;
  margin: 67px auto 60px;
  padding: 0;
  min-width: 282px;
  width: 100%;
  max-width: 880px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 710px) {
  .footer {
    margin: 48px auto 36px;
  }
}